:root {
  --large: 24px;
  --extra-large: 76px;
  --intro-weight: 550;
  --family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --left-side: 40vw;
  --right-side: 60vw;

  --primary: #f9fafb;
  --secondary: #fff;
  --accent: #544a53;
  --neutral: #e0e0e0;
  --contrast: #404040;
  --invalid: red;

  --card-shadow: 2px 5px 10px -3px rgba(0, 0, 0, 0.3);
}

@font-face {
  font-family: logo;
  src: url(Norse-Bold.otf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:is(h1, h2, h3, p):not(.credit-author) {
  max-inline-size: 50ch;
}

.body-container {
  height: 100vh;
  font-family: var(--family);
}

.body-container,
.bg-img-left,
.form-right,
.logo {
  display: flex;
}

.bg-img-left {
  width: var(--left-side);
  background: url(starry-sky.jpg) no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 16px;
  position: relative;
}

.logo {
  position: absolute;
  top: 29vh;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
  gap: 2px;
}

.logo > img {
  height: 125px;
  width: 100px;
}

.logo > h1 {
  position: relative;
  top: 12px;
  font-family: logo;
  font-size: var(--extra-large);
  color: var(--secondary);
}

.credit-author {
  text-align: center;
}

.credit-author,
.credit-author a {
  color: var(--secondary);
}

.form-right {
  background-color: var(--primary);
  width: var(--right-side);
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.form-right > *:not(form),
.submit-form {
  padding: 0 clamp(1rem, 5vw, 3rem);
}

.form-intro p,
.cta {
  font-size: var(--large);
  font-weight: var(--intro-weight);
}

.form-intro > .cta {
  margin-top: 24px;
}

.form-card {
  background-color: #fff;
  margin-top: 32px;
  box-shadow: var(--card-shadow);
  padding: 24px clamp(1rem, 5vw, 3rem);
  padding-bottom: 36px;
}

.form-section {
  display: flex;
  gap: 48px;
  margin-top: 16px;
}

.form-card label {
  display: block;
  color: var(--contrast);
}

.form-card input {
  width: 17vw;
  width: 20em;
  height: 30px;
  border-radius: 4px;
  border: solid 1px var(--neutral);
  padding: 3px;
}

.submit-form {
  margin-top: 32px;
}

.submit-form > button {
  background-color: var(--accent);
  color: var(--secondary);
  padding: 0.8em 3.6em;
  border-radius: 5px;
  border: solid var(--accent);
}

.submit-form > button:hover {
  background-color: var(--secondary);
  color: var(--accent);
}

.acc-login {
  color: var(--accent);
  text-decoration: none;
  font-weight: 600;
}

.acc-login:hover {
  text-decoration: underline;
}

.form-section input:invalid {
  border: solid 1px var(--invalid);
}

.form-section input:placeholder-shown {
  border: solid 1px var(--neutral);
}
